$expose-font: 'fonts/Expose-Regular.otf';
$markin: 'fonts/Markin.ttf';

$white: #fff;
$black: #000;

@font-face {
    font-family: 'Expose';
    src: url(#{$expose-font}) format('opentype');
}
@font-face {
    font-family: 'markin';
    src: url(#{$markin}) format('opentype');
}

body {
    background-color: blueviolet;
}

%base-text-style {
    color: $white;
    // background-color: bisque;
    margin: 0;
    padding: 0;
    font-size: 4em;
    // display: flex;
    // justify-content: center;
    width: fit-content;
    height: fit-content;
    -webkit-text-stroke: 18px $black;
    paint-order: stroke fill;

    // position: absolute;
}


.DateTime {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: right;

    position: absolute;

    background-color: aquamarine;
    #date {
        display: flex;
        justify-content: left;    
    }

    #p-mes {
       @extend %base-text-style;
       font-family: 'Expose', sans-serif;
       position: relative;
       font-size: 4em;

       transform: translate(2px, -20px) rotateZ(16deg);
       z-index: 1;
    }

    #bar {
        @extend %base-text-style;
        position: relative;
        line-height: 0;
        font-size: 3em;
        z-index: 1;
        

        transform: translate(20px, -30px) rotateZ(36deg) rotateX(40deg);

    }

    #p-mes-except {
       @extend %base-text-style;
       font-family: 'markin', sans-serif;

       position: relative;
       transform: rotateZ(16deg);

    }

    #p-dia {
        @extend %base-text-style;
        font-size: 5em;
        font-family: 'markin';

        position: relative;
        transform: rotateZ(4deg);
        transform: translate(33px, -95px); 
    }
}