$expose-font: 'fonts/Expose-Regular.otf';
$markin: 'fonts/Markin.ttf';

$white: #fff;
$black: #000;

@font-face {
    font-family: 'Expose';
    src: url(#{$expose-font}) format('opentype');
}
@font-face {
    font-family: 'markin';
    src: url(#{$markin}) format('opentype');
}

body {
    background-color: blueviolet;
}

%base-text-style {
    color: $white;
    margin: 0;
    padding: 0;
    font-size: 4em;
    width: fit-content;
    height: fit-content;
    -webkit-text-stroke: 15px $black;
    paint-order: stroke fill;
}
%base-text-stroke-style {
    color: $white;
    margin: 0;
    padding: 0;
    font-size: 4em;
    width: fit-content;
    height: fit-content;
    -webkit-text-stroke: 24px $white;
    paint-order: stroke fill;
}


.DateTime {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: right;

    position: absolute;

    background-color: aquamarine;
    #date {
        display: flex;
        justify-content: left;    
    }

    .MonthContainer {
        background-color: beige;
        width: fit-content;
        height: fit-content;
        position: absolute;

        line-height: 0;

        .p-mes {
            @extend %base-text-style;
            font-family: 'Expose', sans-serif;
            position: relative;
            font-size: 4em;
     
            transform: translate(2px, -20px) rotateZ(16deg);
            z-index: 3;
         }
         .p-mes-except {
            @extend %base-text-style;
            font-family: 'markin', sans-serif;
    
            position: relative;
            transform: rotateZ(6deg) translateX(-23px) translateY(-16px);
            z-index: 1;
         }
         .p-mes-except-decimal {
            @extend %base-text-style;
            font-family: 'markin', sans-serif;
    
            position: relative;
            transform: rotateZ(6deg) translateX(-40px) translateY(-16px);
            z-index: 1;
         }
         .p-mes-stroke {
            @extend %base-text-stroke-style;
            font-family: 'Expose', sans-serif;
            position: relative;
            font-size: 4em;
     
            transform: translate(2px, -20px) rotateZ(16deg);
            z-index: 0;
         }
         .p-mes-except-stroke {
            @extend .p-mes-stroke;
            font-family: 'markin', sans-serif;
            transform: rotateZ(9deg) translateX(-23px) translateY(-16px);
            z-index: 0;
          }
          .p-mes-except-decimal-stroke {
            @extend .p-mes-stroke;
            font-family: 'markin', sans-serif;
            transform: rotateZ(6deg) translateX(-40px) translateY(-16px);
            z-index: 0;
          }

    }

    .BarContainer {
        position: absolute;
        .bar {
            // @extend %base-text-style;
            position: relative;
            background-color: $white;
            width: 50px;
            height: 10px;
            line-height: 0;
            font-size: 3em;
            z-index: 1;
            transform: translate(0px, 5px) rotateZ(144deg) rotateX(52deg);
        }
    
    }

    




    #p-dia {
        @extend %base-text-style;
        font-size: 5em;
        font-family: 'markin';

        position: relative;
        transform: rotateZ(4deg);
        transform: translate(33px, -95px); 
    }
}